.App {
  display: flex;
  justify-content: center;
  align-items: center;    
  height: 100vh;
}

.button-text {
  background-color: #4caf9f;
  color: white;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.button-text:hover {
  background-color: #4caf9eb6;
}